body {
    font-family: sans-serif;
    font-size: 24px
}

header{
  background-color: #00AB6F ;
}

 main h1{
text-align: center;
color: #0C5AA6;
}

main img{
text-align: center;
width: 60%;
height: 50%;
background-color: #87F03C;
}

nav{
text-align: center;
display: flex;
justify-content: space-around;
}

main h3 {
 width: 145px;
 height: 45px;
 margin-left: 35% ;
 text-align: center;
 }

main h2{
text-align: end;
width: 275px;
 height: 75px;

}

.icon {
padding: 1%;
background-color: #00AB6F;
color: #00AB6F;
}

nav a{
text-decoration: none;
margin: 3%;
padding: 1% ;
border: 2px solid ;
border-radius: 40%;
background-color: #58EE00;
}

.screen{
background-color: #00AB6F;
padding: 1%;
}

.screen img {
border-radius: 40%;
}
footer{
background-color: #00AB6F ;
padding: 1%;
} 
ul{
text-align: center;
padding: 1%;
border: 2px dotted;
color: #58EE00;
}
main a{
text-align: center;
text-decoration: none;
}
a img{
    width: 70%;
    padding: 0%;
}
.buy {
    border: 3px solid green;
}
.both {
    border: 3px solid green;
}
table{
    border: solid;
    border-collapse: collapse;
    padding: 10%;
    text-align: center;
    width: 100%;
    height: 100%;
}
td{
    border:solid  gold ;
    padding: 2%;
}
main img{
    width:40%;
        margin-left: 15%
}
    
